@import "../styles/theme.scss";

:local #navigation {
  height: 100%;
  width: 80px;
  background: $highlight-dark;
  color: $background-light;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;

  .container {
    align-items: center;
    justify-content: center;
    height: 80px;
    overflow: hidden;
    background: $background-dark;

    .profile {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      overflow: hidden;
      transition: all 1s ease;

      &:hover {
        border-radius: 0%;
        transform: scale(2);
      }

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .links {
    flex-direction: column;
    align-items: center;
    flex: 1;
    border-top: 1px $highlight-dark solid;
    border-bottom: 1px $highlight-dark solid;
  }
}
