@import "../styles/theme.scss";

:local .navItem {
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;

  &.active {
    background: $background-dark;
  }

  &:not(:last-child, :first-child) {
    border-top: 1px $highlight-dark solid;
    border-bottom: 1px $highlight-dark solid;
  }

  &:hover {
    background: $background-dark;

    div {
      color: inherit;
    }
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  div {
    transform: rotateZ(-90deg);
    font-size: 15px;
    justify-content: center;
    color: $highlight-light;
    transition: all 0.5s ease;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;

    @media screen and (max-height: 650px) {
      font-size: 10px;
      transform: rotateZ(0deg);
    }
  }
}

.green:hover {
  div {
    color: $color-green;
  }
}

.blue:hover {
  div {
    color: $color-blue;
  }
}

.red:hover {
  div {
    color: $color-red;
  }
}
