@import "../styles/theme.scss";

:local #social {
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  background: $background-dark;
  position: relative;

  a {
    margin: 5px;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.social-svg-mask path {
  fill: transparent;
}

.social-svg-icon path {
  fill: $background-light;

  &:hover {
    fill: $base-theme;
  }
}

svg:hover .social-svg-icon path {
  fill: $color-orange;
}
