@import "../styles/theme.scss";

:local #welcome {
  flex: 1;

  .column {
    flex: 1;
    flex-direction: column;
    padding: 50px;
    white-space: pre-wrap;
    overflow-y: auto;
    overflow-x: hidden;

    &.photo {
      flex: 2;
      background: url(../media/photos/profile.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.3s ease;

      a {
        text-align: left;
      }
    }
  }
}
